<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand"(click)="toggleRightSidenav                                                                                                                                        ()">
        <span class="navbar-toggler-icon mr-3"></span> <span class="text-muted">DEMO ASSIGNMENT</span>
    </a>
  
    <button class="navbar-toggler" type="button"
    (click)="toggleRightSidenav()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
  
  </nav>

